# WARNING !!!
# Be careful with changing this parameter. You shoudl set it once at 
# the start of deploying, and after never change it. Changing after
# will result in clients not being able to login.

# Environment for server runing 
APP_READ_TIMEOUT="10s"
APP_WRITE_TIMEOUT="10s"
APP_IDLE_TIMEOUT="10s" 
APP_PORT="8888"